In [13]:
import openpyxl as xl
file = xl.Workbook()
sheet = file.worksheets[0]
for i in range(1000) :
    sheet.cell(i+1,1).value = i+1
file.save('TestRunningNo.xlsx')

In [16]:
import pandas as pd
datafram1 = pd.read_excel('TestRunningNo.xlsx')
datafram1

        1
0       2
1       3
2       4
3       5
4       6
..    ...
994   996
995   997
996   998
997   999
998  1000

[999 rows x 1 columns]

In [27]:
import pandas as pd
import openpyxl as xl
import numpy as np

In [30]:
pd.read_excel('TestRunningNo.xlsx')

        1
0       2
1       3
2       4
3       5
4       6
..    ...
994   996
995   997
996   998
997   999
998  1000

[999 rows x 1 columns]

In [33]:
pd.read_excel('TestRunningNo.xlsx',index_col=0, header=0)

Empty DataFrame
Columns: []
Index: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, ...]

[999 rows x 0 columns]

In [39]:
Workbook[]

SyntaxError: invalid syntax (Temp/ipykernel_6868/98922623.py, line 1)

In [40]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\weerawat.m\appdata\local\packages\pythonsoftwarefoundation.python.3.9_qbz5n2kfra8p0\localcache\local-packages\python39\site-packages (2.0.1)

WARNING: You are using pip version 21.2.3; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\Weerawat.m\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip' command.

In [48]:
import openpyxl as xl # import library
import numpy as np
file = xl.Workbook() # สร้าง Workbook
sheet = file.worksheets[0] # กำหนด worksheets
for i in range(5): # สั่งทำงาน 5 รอบ
    sheet.cell(np.random.randint(1,11),3).value = np.random.randint(1,10) # สุ่มเลข 1-9 ลงในช่อง 1-10
file.save('TestRunningNo.xlsx') # บันทึกไฟล์

In [50]:
import xlsxwriter
workbook = xlsxwriter.workbook('TestRunningNo.xlsx')
worksheet = workbook.add_worksheet()

TypeError: 'module' object is not callable